{% extends 'blogityBlog/index.html' %}
{% load static %}
{% block content %}
{% now "Y-m-d" as current_date %}

<!--Intro Header-->
<section id="header">
  <header class="major">
    <h1>Blog Posts</h1>
    {% if user.is_staff %}
    <a href='{% url "posts:post_create" %}' class="button special">
      Create New Post
    </a>
    {% else %}
    <h5>Follow Me!</h5>
    <ul class="icons">
      <li><a href="https://twitter.com/onodric"
             class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
      <li><a href="https://www.facebook.com/onodric"
             class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.instagram.com/belvemarks/?hl=en"
             class="icon alt fa-instagram"><span
          class="label">Instagram</span></a></li>
      <li><a href="https://www.github.com/Onodric"
             class="icon alt fa-github"><span class="label">
        Github</span></a></li>
      <li>
        <a href="mailto:belvedmarks4@gmail.com"
             class="icon alt fa-envelope">
          <span class="label">Email</span>
        </a>
      </li>
    </ul>
    {% endif %}
<!-- Search Bar -->
    <nav class="search-bar">
      <ul>
        <li>
          <form action="" method="GET">
            <span class="icon minor fa-search"></span>
            <input type="text" name="searcher" placeholder="Search Posts"
                   value="{{ request.GET.searcher }}" />
            <input type="submit" value="SEARCH" />
          </form>
        </li>
      </ul>
    </nav>
<!-- END Search Bar -->

  </header>
  <div class="container">
    <ul class="actions">
      <li><a href="#{{ view.get_latest.id }}"
             class="button special scrolly">See Posts...</a></li>
    </ul>
  </div>
</section>
<!--END intro header-->

<!-- One -->
{% for post in posts %}
{% if user.is_staff or post.publish|date:"Y-m-d" < current_date or not post.draft %}
<section id="{{ post.id }}" class="main special">
  <div class="container">
    <span class="image fit primary">
      {% if post.image %}
      <img src="{{ post.image.url }}" alt="Test Image" />
      {% else %}
      <img src="{% static 'css/images/overlook.jpg' %}" alt="Test Image" />
      {% endif %}
    </span>
    <div class="content">
      <header class="major">
        {% if post.draft %}
          <h1 class="is_draft">DRAFT</h1>
        {% endif %}
        {% if post.publish|date:"Y-m-d" > current_date  %}
          <h1 class="is_draft">FUTURE POST</h1>
        {% endif %}
        <h2>{{ post.title }}</h2>
        <h4>{{ post.subheading }}</h4>
        <p>
          <strong>
          by: {{ post.author.get_full_name }}
          </strong>
        </p>
        <p class="timestamp">published: {{ post.publish|timesince }} ago</p>
        <p class="timestamp">updated: {{ post.updated|timesince }} ago</p>
      </header>
      <div class="flow-text">
      </div>
    </div>
    <a href='{% url "posts:post_detail" post.slug %}'
       class="button special">Read More!</a>
    {% if post.id|add:"-1" > 0 %}
    <a href="#{{ post.id|add:"-1" }}" class="goto-next scrolly">Next</a>
    {% endif %}
  </div>
</section>
{% endif %}
{% empty %}
<section id="one" class="main special">
  <div class="container">
    <span class="image fit primary">
      <img src="{% static 'css/images/overlook.jpg' %}"
           alt="Test Image" />
    </span>
    <div class="content">
      <header class="major">
        <h2>Oops! No posts!</h2>
      </header>
      <p class="flow-text">
        I should write something
        {% if request.GET.searcher %}
        about {{ request.GET.searcher }}{% endif %}!
      </p>
    </div>
  </div>
</section>
{% endfor %}

{% if is_paginated %}
<section class="main special">
    <div class="content">
      <div class="pagination align-center">
        <span class="page-links">
          {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"
               class="button small">
              More Recent</a>
          {% endif %}
          <span class="page-current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
          </span>
          {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="button small">
              Older</a>
          {% endif %}
        </span>
      </div>
    </div>
</section>
{% endif %}

<!-- Footer -->
  <section id="footer">
    <div class="container">
      <header class="major">
        <h2>Get in touch</h2>
      </header>
      <form method="POST"
            action="https://formspree.io/belvedmarks4@gmail.com">
        <div class="row uniform">
          <div class="12u$ 12u$(xsmall)">
            <input type="text" name="name" id="name" placeholder="Name" />
          </div>
          <div class="12u$ 12u$(xsmall)">
            <input type="email" name="_replyto" id="email" placeholder="Email" />
          </div>
          <div class="12u$">
            <textarea type="text" name="_message" id="message"
                   placeholder="Message">
            </textarea>
          </div>
          <div class="12u$">
            <input type="hidden" name="_subject"
                   value="New Inquiry from Website!"/>
          </div>
          <div class="12u$">
            <input type="hidden" name="_next"
                   value="//www.belvedmarks4.com/thanks.html"/>
          </div>
          <div class="12u$">
            <ul class="actions">
              <li><input type="submit" value="Send Message" class="special" /></li>
            </ul>
          </div>
        </div>
      </form>
    </div>
    <footer>
      <ul class="icons">
        <li><a href="https://twitter.com/onodric"
               class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="https://www.facebook.com/onodric"
               class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
        <li><a href="https://www.instagram.com/belvemarks/?hl=en"
               class="icon alt fa-instagram"><span
            class="label">Instagram</span></a></li>
        <li><a href="https://www.github.com/Onodric"
               class="icon alt fa-github"><span class="label">
          Github</span></a></li>
        <li><a href="mailto:belvedmarks4@gmail.com"
               class="icon alt fa-envelope"><span
            class="label">Email</span></a></li>
      </ul>
      <ul class="copyright">
        <li>&copy; Belve D. Marks, IV a.k.a. "Ben"</li>
        <li>Design:
          <a href="http://html5up.net">HTML5 UP</a>
        </li>
      </ul>
    </footer>
  </section>

{% endblock %}
