{% extends 'blogityBlog/index.html' %}
{% block head_title %}update | blogity blog{% endblock head_title%}
{% block content %}

<!--Intro Header-->
<section id="header">
  <header class="major">
    <h1>Update Post</h1>
  </header>
  <div class="container">
    <ul class="actions">
      <li><a href="#body"
             class="button special scrolly">Edit Now...</a></li>
    </ul>
  </div>

</section>
<!--END intro header-->

<!-- One -->
<section id="body" class="main special">
  <div class="container">
    <span class="image fit primary">
      <img src="{{MEDIA_URL}}one/test_image.jpg"
           alt="Test Image" />
    </span>
    <div class="content">
      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" class="button special" value="Update Post" />
      </form>
        {{ form.media }}
    </div>
  </div>
</section>

{% endblock %}
