{% extends 'blogityBlog/index.html' %}
{% block content %}

<!--Intro Header-->
<section id="header">
  <header class="major">
    <h1>{{ object.title }}</h1>
    <h2>by {{ object.author.first_name }} {{ object.author.last_name }}</h2>
    <h5>published: {{ object.created }}</h5>
  </header>
  <div class="container">
    <h3>{{ object.subheading }}</h3>
    <ul class="actions">
      <li><a href="#body"
             class="button special scrolly">Read on...</a></li>
    </ul>
  </div>

</section>
<!--END intro header-->

<!-- One -->
<section id="body" class="main special">
  <div class="container">
    <span class="image fit primary">
      <img src="{{MEDIA_URL}}one/test_image.jpg"
           alt="Test Image" />
    </span>
    <div class="content">
      <small class="align-left" id="updated">
        last updated: {{ object.updated }}
      </small>
      <div class="flow-text align-left">
        {% if user.is_authenticated %}
        <a href='{% url "posts:post_update" object.pk %}'
           class="button special">
          Update This Post
        </a>
        <a href='{% url "posts:post_delete" object.pk %}'
           class="button warning">
          Delete This Post
        </a>
        {% else %}
        <span><strong>{{ object.location }}  </strong></span>
        {{ object.content }}
        {% endif %}
      </div>
    </div>
    <a href="/posts/" class="button">Return to Posts</a>
  </div>
</section>

{% endblock %}
