{% extends 'blogityBlog/index.html' %}
{% block head_title %}{{object.title}} | blogity blog{% endblock head_title%}
{% load static %}
{% load urlify %}
{% block content %}
{% now "Y-m-d" as current_date %}

<!--Intro Header-->
<section id="header">
  <header class="major">
    {% if object.draft %}
      <h1 class="is_draft">DRAFT</h1>
    {% endif %}
    {% if object.publish|date:"Y-m-d" > current_date  %}
      <h1 class="is_draft">FUTURE POST</h1>
    {% endif %}
    <h2>{{ object.title }}</h2>
    <h5>published: {{ object.publish|date }}</h5>
  </header>

  <div class="container">
    {% for tag in object.category.all %}
    <small class="tag-name">{{ tag }}</small>
    {% endfor %}
    <h3>{{ object.subheading }}</h3>
    <ul class="actions">
      <li><a href="#body"
             class="button special scrolly">Read on...</a></li>
    </ul>
  </div>

</section>
<!--END intro header-->

<!-- One -->
<section id="body" class="main special">
  <div class="container">
    <span class="image fit primary">
      {% if object.image %}
      <img src="{{ object.image.url }}" alt="Test Image" />
      {% else %}
      <img src="{% static 'css/images/overlook.jpg' %}" alt="Test Image" />
      {% endif %}
    </span>
        <h3>Like it? Please share!</h3>
    <ul class="icons">
      <li><a
          href="https://twitter.com/home?status=Really%20diggin%27%20this%20blog%20post%21%20{{ object.title|urlify }}%20by%20%40onodric:%20{{ request.build_absolute_uri }}"
      class="icon alt fa-twitter-square"><span class="label">Twitter
      </span></a></li>
      <li><a href='https://plus.google.com/share?url={{ request.build_absolute_uri }}'
             class="icon alt fa-google-plus-official"><span
          class="label">Google+</span></a></li>
      <li>
        <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri }}&title={{ object.title|urlify }}&{{ object.subheading|urlify }}&source={{ request.build_absolute_uri }}" class="icon alt fa-linkedin-square">
          <span class="label">LinkedIn</span>
        </a>
      </li>
    </ul>
    <div class="fb-like fb-reformat"
         data-href="{{ request.build_absolute_uri }}"
         data-layout="button" data-action="like" data-size="small"
         data-show-faces="false" data-share="true"></div>
    <div class="content">
      <small class="align-left" id="updated">
        last updated: {{ object.updated|timesince }} ago
      </small>
      <h6>by {{ object.author.get_full_name }}</h6>
      <div class="flow-text align-left">
        {% if user.is_staff or user.is_superuser %}
        <a href='{% url "posts:post_update" object.slug %}'
           class="button special">
          Update This Post
        </a>
        <a href='{% url "posts:post_delete" object.slug %}'
           class="button warning">
          Delete This Post
        </a>
        {% endif %}
        <div class="markdownx-preview">
          <span><strong>{{ object.location }}  </strong></span>
          {{ object.content|safe }}
        </div>
      </div>
    </div>
    <a href="/posts/" class="button">Return to Posts</a>
    <div class="fb-comments content"
         data-href="{{ request.build_absolute_url }}"
         data-width="100%"
         data-numposts="10"></div>
  </div>
</section>

{% endblock %}
