{% extends 'blogityBlog/index.html' %}
{% block head_title %}{{object.title}} | blogity blog{% endblock head_title%}
{% load static %}
{% block content %}

<!--Intro Header-->
<section id="header">
  <header class="major">
    <h1>{{ object.title }}</h1>
    <h2>by {{ object.author.first_name }} {{ object.author.last_name }}</h2>
    <h5>published: {{ object.created }}</h5>

    <a href="https://www.facebook.com/sharer/sharer.php?u=http://CodingForEntrepreneurs.com/">
      Share on Facebook
    </a>

    <a href="https://twitter.com/home?status=I'm%20going%20to%20learn%20to%20Code...%20Come%20build%20an%20web%20apsp%20with%20me!%20%23CFE%20and%20@justinmitchel%20http://codingforentrepreneurs.com/">
      Share on Twitter
    </a>

    <a href='https://plus.google.com/share?url=http://codingforentrepreneurs.com'>
      Share on Google+
    </a>

    <a href="https://www.linkedin.com/shareArticle?mini=true&url=http://swiftforentrepreneurs.com/&title=Be%20first%20%7C%20Join%20Swift%20for%20Entrepreneurs&summary=Swift%20for%20Entrepreneurs%20is%20a%20project-based%20programming%20course%20for%20non-technical%20founders.%20We'll%20learn%20how%20to%20build%20iOS%20apps%20from%20scratch%20using%20Apple's%20new%20programming%20language:%20Swift.%20Be%20first%20and%20learn%20with%20me!&source=http://swiftforentrepreneurs.com/">
      Share on Linkedin
    </a>

  </header>
  <div class="container">
    <h3>{{ object.subheading }}</h3>
    <ul class="actions">
      <li><a href="#body"
             class="button special scrolly">Read on...</a></li>
    </ul>
  </div>

</section>
<!--END intro header-->

<!-- One -->
<section id="body" class="main special">
  <div class="container">
    <span class="image fit primary">
      {% if object.image %}
      <img src="{{ object.image.url }}" alt="Test Image" />
      {% else %}
      <img src="{% static 'css/images/overlook.jpg' %}" alt="Test Image" />
      {% endif %}
    </span>
    <div class="content">
      <small class="align-left" id="updated">
        last updated: {{ object.updated }}
      </small>
      <div class="flow-text align-left">
        {% if user.is_authenticated %}
        <a href='{% url "posts:post_update" object.slug %}'
           class="button special">
          Update This Post
        </a>
        <a href='{% url "posts:post_delete" object.slug %}'
           class="button warning">
          Delete This Post
        </a>
        {% endif %}
        <span><strong>{{ object.location }}  </strong></span>
        {{ object.content }}
      </div>
    </div>
    <a href="/posts/" class="button">Return to Posts</a>
  </div>
</section>

{% endblock %}
